[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = {version = ">=v20.0", extras = ["job-queue"]}
psycopg2-binary = "*"
feedparser = "*"

[dev-packages]

[requires]
python_version = "3.10"
